<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APIproj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8420382A1E70CC0C001201FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8420383E1E70CC0C001201FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842038491E70CC0C001201FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
